 /* custom body */

 ul
 {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 .custom-body {
    position: relative;
    height: 100vh;
}
 .custom-body:before {
    background: rgb(80, 122, 185);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: none;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 100%;
    background-position-y: 0%;
}
.logo {
	position: relative;
	width: 100%;
	text-align: center;
	margin: auto;
}
.logo img {
    width: 28%;
    height: 104px;
    padding: 2px;
    margin-top: 6px;
}


.content-title h3 {
    padding: 0;
    margin: 0;
    padding: 8px;
}

/* Main area */
.main-area
{
    width: 100%;
    position: relative;
}
.main-content-area
{
    width: 70%;
    margin: auto;
}

/* survey-form */
.survey-section-1 {
    padding-bottom: 36px;
}
.survey-form {
	background: #fff;
	width: 80%;
 
	border-radius: 31px;
	margin: auto;
}
.question-box1 h3 {
    color: rgb(80, 122, 185);
    padding: 50px 0 30px 0;
    font-weight: 700;
}
.group-response-button {
    text-align: center;
    padding-bottom: 33px;
}
.group-response-button ul li {
    padding: 2px;
    margin-bottom: 13px;
}
.group-response-button  button.btn {
    width: 65%;
    border-radius: 23px;
    padding: 14px 0;
    font-size: 19px;
    font-weight: 500;
}
/* */

label.form-check-label {
  
    width: 65%;
    border-radius: 23px;
    padding: 14px 0;
    font-size: 19px;
    font-weight: 500;
}
.form-check-input[type="radio"] {
    border-radius: 50%;
    display: none; 
}
.submit-form-button
{
    text-align: center;
    width: 100%;

}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 0; 
    margin-bottom: 1.125rem;
}
/* .form-check-label:hover
{
    background:rgb(236, 233, 253)  ;
}
label:hover, label:active, input:hover+label, input:active+label {
    background:yellow;
} */
.firt-question
{
    background-color:rgb(80, 122, 185) ; 
    color: #fff; 
}
.second-question
{
    background:#fff; 
    color: rgb(80, 122, 185) ;
    border:1px solid #000
}
label.form-check-labe.second-question {
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 65%;
    border-radius: 24px;
    padding: 13px 0;
}
.firt-question :hover
{
   background-color: yellow;
}
.second-question :hover
{
   background-color: yellow;
}
label:hover
{
    background:rgb(236, 233, 253)  ;
    color: rgb(80, 122, 185) ;
}
label.form-check-labe.second-question:hover {
    background:rgb(236, 233, 253)  ;
    color: rgb(80, 122, 185) ;
}


/* //.survey-section-1 */
.survey-section-1 > .survey-form {
	height: 60vh;
}

/* //.survey-section-2 */
.survey-section-2
{
    display: none;
     
}
.form-group {
    width: 65%;
    margin: auto;
    margin-bottom: 13px;
}
input#inputZip {
    padding: 12px;
    text-align: center;
    font-size: 21px;
}
.back-form-button {
    /* margin-top: 10px; */
    padding: 10px 0;
}
.back-form-button a {
   text-decoration: none;
}
input#zip {
	width: 100%;
	text-align: center;
	padding: 8px;
}
input#city {
    width: 100%;
    text-align: center;
    padding: 8px;
}
input#state {
    width: 88%;
    text-align: center;
    padding: 8px;
}

#optionalField {
	margin-top: 46px;
    display: none;
}



.survey-section-2 > .survey-form {
	 
}

/* survey-section-3 */
.survey-section-3
{
    display: none;
    padding-bottom: 36px;
}
.survey-section-3>.survey-form {
    background: #fff;
    width: 90%;
    height: 380px;
    border-radius: 31px;
    margin: auto;
    margin-bottom: 14px;
}
.survey-section-3>.survey-form>.question-box1 h3 {
    color: rgb(80, 122, 185);
    padding: 50px 0 30px 0;
    font-weight: 700;
    width: 67%;
    margin: auto;
}
.survey-section-3>.survey-form>.group-response-button>.form-group {
    width: 90%;
    margin: auto;
   
}

.form-select {
    display: block;
    text-align: center;
    width: 100%;
    /* padding: 1.375rem 2.25rem 1.375rem 0.75rem; */
    padding: 15px 0;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.survey-section-3>.survey-form>.group-response-button button.btn {
    width: 46%;
    border-radius: 23px;
    padding: 14px 0px;
    font-size: 19px;
    font-weight: 500;
    margin-top: 23px;
}

/* survey-section-4 */
.survey-section-4
{
    display: none;
    padding-bottom: 36px;
}
.survey-section-4>.survey-form {
    background: #fff;
    width: 66%;
    height: 452px;
    border-radius: 31px;
    margin: auto;
}
.survey-section-4>.survey-form >.question-box1 h3 {
    color: rgb(80, 122, 185);
    padding: 40px 46px 27px 51px;
    font-weight: 700;
}



/* survey-section-5 */
.survey-section-5
{
    display: none;
    padding-bottom: 36px;
}

label.form-check-labe.bill-question {
    border: 1px solid;
    padding: 17px 7px;
    width: 84%;
    border-radius: 23px;
}
label.form-check-label.bill-question {
    border: 1px solid;
}
.survey-section-5>.survey-form>.group-response-button label.form-check-label {
    width: 86%;
    border-radius: 23px;
    padding: 17px 0;
    font-size: 19px;
    font-weight: 500;
}
.survey-section-5>.survey-form {
    background: #fff;
    width: 66%;
    height: 422px;
    border-radius: 31px;
    margin: auto;
}

/* survey-section-6 */
.survey-section-6
{
    display: none;
    padding-bottom: 36px;
}
.survey-section-6>.survey-form {
    background: #fff;
    width: 66%;
    height: 552px;
    border-radius: 31px;
    margin: auto;
}
.survey-section-6>.survey-form>.group-response-button label.form-check-labe.second-question {
    background-color: rgb(80, 122, 185) ;
    text-align: left;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 65%;
    border-radius: 24px;
    padding: 13px 0;
}

.survey-section-6>.survey-form>.group-response-button label.form-check-label.firt-question {
    width: 65%;
    text-align: left;
    padding: 15px;
    background: #fff;
    color: rgb(80, 122, 185) ;
    border: 1px solid;
}



label#fullSun:hover {
    background:rgb(236, 233, 253)  ;
    color: rgb(80, 122, 185) ;
}

label#partialSun:hover {
    background:rgb(236, 233, 253)  ;
    color: rgb(80, 122, 185) ;
}
label#NoSun:hover {
    background:rgb(236, 233, 253)  ;
    color: rgb(80, 122, 185) ;
}

label#Uncertain:hover {
    background:rgb(236, 233, 253)  ;
    color: rgb(80, 122, 185) ;
}



/* 
/* survey-section-7 */
.survey-section-7
{
    display: none;
    padding-bottom: 36px;
}

.survey-section-7>.survey-form {
    background: #fff;
    width: 66%;
    height: 599px;
    border-radius: 31px;
    margin: auto;
}
a#BackButton7 {
    text-decoration: none;
    /* margin-top: 30px; */
}
/* survey-section-8 */
.survey-section-8
{
    display: none;
    padding-bottom: 36px;
}
.survey-section-8>.survey-form {
    background: #fff;
    width: 66%;
    height: 299px;
    border-radius: 31px;
    margin: auto;
}

input#Email {
    width: 92%;
    padding: 15px;
    text-align: center;
}

/* survey-section-9 */
.survey-section-9
{
    display: none;
    padding-bottom: 36px;
}
#SectionNine
{
    
}
.survey-section-9>.survey-form {
    background: #fff;
    width: 86%;
    height: 587px;
    border-radius: 31px;
    margin: auto;
}
.survey-section-9>.survey-form>.group-response-button>.form-group {
    width: 65%;
    margin: auto;
    margin-bottom: 4px;
}

#sectionNineOptionalFiled
{
display:none;
}
.change-form-button {
  margin-bottom: 3px;
}
input#inputStreet {
    padding: 15px 0;
}



input#inpuTCity {
    padding: 13px 0;
}
input#SectionNineInputZip{
    padding: 13px 0;
}
input#inputState {
    padding: 13px 0;
}
/* survey-section-10 */
.survey-section-10
{
    display: none;
    padding-bottom: 36px;
}
.survey-section-10 >.survey-form {
	
	
	height: 62vh;
	
}
#SectionTen
{
    
}

/* survey-section-11 */

.survey-section-11
{
    display: none;
    padding-bottom: 36px;
}

.survey-section-11>.survey-form {
    background: #fff;
    width: 63%;
    height: 125vh;
    border-radius: 31px;
    margin: auto;
}
.submit-warninText {
	padding: 1px 0px;
	text-align: left;
	font-size: 12px;
	color: rgb(118, 118, 118);
}
.submit-warninText p a{
    text-decoration: none;
}
.survey-section-11>.survey-form>.question-box1 h3 {
    color: rgb(80, 122, 185);
    padding: 50px 30px 0px 30px;
    font-weight: 700;
}


/* footer */
footer
{
    background: rgb(80, 122, 185);
}
.footer-content-for-all-section
{

}
.footer-content-for-submit-section
{
display: none;
}
.footer-area {
    width: 70%;
    margin: auto;
   
    padding: 15px;
    text-align: center;
    color: #fff;
}
.footer-end
{
    border-top: 1px solid rgb(132, 137, 130);
}
.footer-end a
{
    text-decoration:none ;
    color:  #fff;
}
.footer-end a:hover
{
    text-decoration:underline ;
    
}


/* footer popup */

/* terms */

.custom-model-For-Terms {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }


  /* privacy */
  .custom-model-For-Privacy {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }

/* Information */
.custom-model-For-Information {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }


  /* Statement */
.custom-model-For-Statement {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }





  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 921px;
    margin: 64px auto;
    max-width: 97%;
    /* height: 605px; */
}
  .custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 100px);
      overflow-y: auto;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  




  /* .krIMkn {
    height: 33px;
    width: 33px;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgb(238, 238, 238);
    font-size: 1.5em;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    padding: 0px;
    top: 7vh;
    right: 13vw;
} */



.close-btn {
    height: 48px;
    width: 50px;
    position: absolute;
    border: 1px solid rgb(238, 238, 238);
    right: -16px;
    top: -34px;
    cursor: pointer;
    z-index: 99;
    font-size: 29px;
    color: gray;
    background: rgb(255, 255, 255);
    border-radius: 23px;
    /* padding: 0px 7px 2px 6px; */
}

.close-btn:hover {
    color: #fff;
    background: gray;
}

.pop-up-content-wrap p{
    color: #000;
}
/* rgb(255, 255, 255) */


