
.fix
{
    overflow: hidden;
}
.offer-conatiner {
	width: 80%;
	margin: auto;
}

/* offer-page-header */
.offer-page-header {
    width: 75%;
    margin: auto;
    
}
.succesImage {
    width: 24%;
    float: left;
}
.succesImage img {
    width: 80%;
}
.SuccessCode {
    width: 62%;
    float: left;
    margin-top: 29px;
}
.SuccessCode p {
    font-weight: 600;
}

/* offer-section */
.offer-section {
	width: 100%;
	margin-top: 33px;
	padding-bottom: 50px;
}
.first-offer {
    width: 100%;
    position: relative;
    height: 200px;
    background: #fffff5;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
.offer-area a:hover .first-offer {
    background: #2581fe;
    transform: scale(1.025);
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    transition: .6s;
}
.offer-area a:hover .first-item-content .first-item-conten-three button {
    background: #fff;
    color: #2581fe;
    
}
.starContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    top: -46px;
    left: -7px;
    width: 37px;
    padding-right: 5px;
    padding-top: 11px;
    background-color: #ffee36;
    transform: rotate(45deg);
}
svg.star {
    width: 58%;
}

.offer-screen{display: none;}

.first-item-content
{
    width: 100%;
}
.first-item-conten-one 
{
    width: 20%;
    float: left;
}
.first-item-conten-one img {
    width: 84%;
    /* height: 97px; */
    padding: 6px;
    margin: 82px 18px 10px 26px;
}
.first-item-conten-two {
    width: 43%;
    float: left;
    margin-top: 32px;
    margin-left: 21px;
}
.offer__title {
    width: 83%;
    margin: 0px 0px 8px 52px;
    color: #000;
    font-weight: 700;
}
.offer__features {
    width: 99%;
    margin-left: 18px;
    color: #000;
    font-size: 11px;
}
.first-item-conten-three {
    width: 15%;
    float: left;
    margin: 46px 5px 10px 59px;
}
.first-offer.fix button
{
    background: #2581fe;
}
.first-offer.fix button:hover
{
    background: red;
}
.zoom-in-zoom-out button {
   
    padding: 7px 7px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 700;
}


.zoom-in-zoom-out {
    /* margin: 24px; */
    margin: 16px 10px 10px 17px;
    width: 100%;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .first-offer>.first-item-conten-two>.offer__title :hover {
    color: #fff;
}



/* second-offer */
.seocnd-offer {
    width: 100%;
    position: relative;
    height: 200px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
.seocnd-offer:hover {
    background: #2581fe;
    transform: scale(1.025);
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    transition: .6s;
}
.seocnd-offer.fix button
{
    background: #2581fe;
}



.offer-area a:hover .seocnd-offer {
    background: #2581fe;
    transform: scale(1.025);
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    transition: .6s;
}
.offer-area a:hover .first-item-content .first-item-conten-three button {
    background: #fff;
    color: #2581fe;
    
}


.seocond-item-conten-one img {
    width: 84%;
    /* height: 97px; */
    padding: 6px;
    margin: 40px 18px 10px 26px;
}
.seocond-item-conten-one 
{
    width: 20%;
    float: left;
}

/* third-offer */
.third-offer {
    width: 100%;
    position: relative;
    height: 200px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    border-radius: 5px;
}
.third-offer:hover {
    background: #2581fe;
    transform: scale(1.025);
    box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
    transition: .6s;
}
.third-offer.fix button
{
    background: #2581fe;
}
.third-item-conten-one img {
    width: 84%;
    /* height: 97px; */
    padding: 6px;
    margin: 40px 18px 10px 26px;
}
.third-item-conten-one 
{
    width: 20%;
    float: left;
}

.offer-footer-text p {
	color: rgb(118, 118, 118);
	font-size: 15px;
	line-height: 16px;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	/* flex: 0 0 50px; */
	margin-top: auto;
	/* margin-bottom: 20px; */
}

/* responsive */
/* 640px */

@media only screen and (max-width: 700px) {
    .succesImage {
        width: 90%;
        /* margin: auto; */
        /* text-align: end; */
        text-align: center;
    }
    .succesImage img {
        width: 140px;
    }
    .SuccessCode {
        width: 100%;
        /* float: left; */
        margin-top: 29px;
        text-align: center;
    }

    .first-offer {
        width: 100%;
        position: relative;
        height: 236px;
        background: #fffff5;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    .first-item-conten-one {
        width: 100%;
        /* float: left; */
        text-align: center;
    }
    .first-item-conten-one img {
        width: 219px;
        height: 71px;
        padding: 6px;
        margin: 1px 18px 0px 27px;
    }
    .first-item-conten-two {
        width: 100%;
        /* float: left; */
        margin-top: 8px;
        margin-left: 21px;
      
    }
    .offer__features {
        width: 99%;
        margin-left: 18px;
        color: #000;
        font-size: 11px;
        display: none;
    }
    .first-item-conten-three {
        width: 100%;
        /* float: left; */
        /* margin: 46px 5px 10px 59px; */
        margin: auto;
        text-align: center;
    }
    .zoom-in-zoom-out button {
        padding: 7px 16px;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-weight: 700;
        width: 56%;
    }
    .zoom-in-zoom-out {
        margin: 24px;
        margin: 16px 10px 10px 10px;
        width: 100%;
        animation: zoom-in-zoom-out 2s ease-out infinite;
       
    }



    .seocond-item-conten-one {
        width: 100%;
        /* float: left; */
        text-align: center;
    }
    .seocond-item-conten-one img {
        width: 43%;
        /* height: 97px; */
        padding: 6px;
        margin: 4px 18px -2px 26px;
        height: 77px;
    }
    .seocnd-offer {
        width: 100%;
        position: relative;
        height: 241px;
        background: #f9f9f9;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    .third-item-conten-one {
        width: 100%;
        /* float: left; */
        text-align: center;
    }
    .third-item-conten-one img {
        width: 49%;
        /* height: 97px; */
        padding: 6px;
        margin: 7px 18px -1px 26px;
        height: 100px;
    }
    .third-offer {
        width: 100%;
        position: relative;
        height: 282px;
        background: #f9f9f9;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    .offer-footer-text p {
        color: rgb(118, 118, 118);
        font-size: 15px;
        line-height: 16px;
        width: 100%;
        /* text-align: center; */
        padding: 15px 0;
        /* flex: 0 0 50px; */
        margin-top: auto;
        /* margin-bottom: 20px; */
    }
  }


/* 450px */

@media only screen and (max-width: 450px) {
    .succesImage {
        width: 90%;
        /* margin: auto; */
        /* text-align: end; */
        text-align: center;
    }
    .succesImage img {
        width: 140px;
    }
    .SuccessCode {
        width: 100%;
        /* float: left; */
        margin-top: 29px;
        text-align: center;
    }

    .first-offer {
        width: 100%;
        position: relative;
        height: 236px;
        background: #fffff5;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    .first-item-conten-one {
        width: 100%;
        /* float: left; */
        text-align: center;
    }
    .first-item-conten-one img {
        width: 219px;
        height: 71px;
        padding: 6px;
        margin: 1px 18px 0px 27px;
    }
    .first-item-conten-two {
        width: 100%;
        /* float: left; */
        margin-top: 8px;
        margin-left: 21px;
      
    }
    .offer__features {
        width: 99%;
        margin-left: 18px;
        color: #000;
        font-size: 11px;
        display: none;
    }
    .first-item-conten-three {
        width: 100%;
        /* float: left; */
        /* margin: 46px 5px 10px 59px; */
        margin: auto;
        text-align: center;
    }
    .zoom-in-zoom-out button {
        padding: 7px 16px;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-weight: 700;
        width: 56%;
    }
    .zoom-in-zoom-out {
        margin: 24px;
        margin: 16px 10px 10px 10px;
        width: 100%;
        animation: zoom-in-zoom-out 2s ease-out infinite;
       
    }



    .seocond-item-conten-one {
        width: 100%;
        /* float: left; */
        text-align: center;
    }
    .seocond-item-conten-one img {
        width: 43%;
        /* height: 97px; */
        padding: 6px;
        margin: 4px 18px -2px 26px;
        height: 77px;
    }
    .seocnd-offer {
        width: 100%;
        position: relative;
        height: 241px;
        background: #f9f9f9;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    .third-item-conten-one {
        width: 100%;
        /* float: left; */
        text-align: center;
    }
    .third-item-conten-one img {
        width: 49%;
        /* height: 97px; */
        padding: 6px;
        margin: 7px 18px -1px 26px;
        height: 100px;
    }
    .third-offer {
        width: 100%;
        position: relative;
        height: 282px;
        background: #f9f9f9;
        box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
        border-radius: 5px;
    }
    .offer-footer-text p {
        color: rgb(118, 118, 118);
        font-size: 15px;
        line-height: 16px;
        width: 100%;
        /* text-align: center; */
        padding: 15px 0;
        /* flex: 0 0 50px; */
        margin-top: auto;
        /* margin-bottom: 20px; */
    }
  }