/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .survey-form {
        width: 72%;
        height: 26vh;
    }
    .survey-section-2 > .survey-form {
        height: 52vh;
    }
    .submit-warninText {
        padding: 1px 44px;
      
    }
    .survey-section-8 > .survey-form {
        background: #fff;
        width: 66%;
        height: 26vh;
        border-radius: 31px;
        margin: auto;
    }
    .survey-section-9 > .survey-form {
        background: #fff;
        width: 86%;
        height: 28vh;
        border-radius: 31px;
        margin: auto;
    }
    .survey-section-10 > .survey-form {
        height: 30vh;
    }
    .survey-section-11 > .survey-form {
        background: #fff;
        width: 63%;
        height: 83vh;
        border-radius: 31px;
        margin: auto;
    }



}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    .survey-section-11 > .survey-form {
       
        width: 98%;
       
    }
    .survey-section-1 > .survey-form {
        
        width: 81%;
        
    }
    .survey-section-2 > .survey-form {
        
        width: 90%;
        
    }

    .survey-section-4 > .survey-form {
       
        width: 97%;
        
    }
    .survey-section-5 > .survey-form {
       
        width: 95%;
        
    }
    .survey-section-6 > .survey-form {
        
        width: 100%;
       
    }
    .survey-section-7 > .survey-form {
      
        width: 95%;
        
    }
    .survey-section-8 > .survey-form {
        
        width: 100%;
       
    }
    .survey-section-10 > .survey-form {
       
        width: 88%;
        
    }



}

 
/* small mobile :320px. */
@media (max-width: 767px) {


    .logo img {
        width: 70%;
       
    }
    .main-content-area {
        width: 100%;
        margin: auto;
    }

    .survey-section-11 > .survey-form {
       
        width: 98%;
       
    }
    .survey-section-1 > .survey-form {
        
        width: 81%;
        
    }
    .survey-section-2 > .survey-form {
        
        width: 90%;
        
    }

    .survey-section-4 > .survey-form {
       
        width: 97%;
        
    }
    .survey-section-5 > .survey-form {
       
        width: 95%;
        
    }
    .survey-section-6 > .survey-form {
        
        width: 100%;
       
    }
    .survey-section-7 > .survey-form {
      
        width: 95%;
        
    }
    .survey-section-8 > .survey-form {
        
        width: 100%;
       
    }
    .survey-section-10 > .survey-form {
       
        width: 88%;
        
    }
    .submit-warninText {
        padding: 1px 49px;
        text-align: left;
        font-size: 12px;
        color: rgb(118, 118, 118);
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}

.survey-section-5 > .survey-form 
{
    height: 476px
}
.survey-section-5 > .survey-form > .group-response-button label.form-check-label {
	width: 64%;
	border-radius: 23px;
	padding: 10px 0;
	font-size: 19px;
	font-weight: 500;
    ;
}
label.form-check-labe.bill-question {
	border: 1px solid;
	padding: 10px 1px;
	width: 66%;
	border-radius: 23px;
}
.question-box1 h3 {
	color: rgb(80, 122, 185);
	padding: 32px 10px;
	font-weight: 700;
	font-size: 18px;
}
 
}


@media (min-width: 330px) and (max-width: 479px)
{
    .footer-area {
        width: 94%;
        
    }

    label.form-check-labe.bill-question {
        border: 1px solid;
        padding: 8px 7px;
        width: 59%;
        border-radius: 23px;
    }
    .survey-section-5 > .survey-form > .group-response-button label.form-check-label {
        width: 59%;
        border-radius: 23px;
        padding: 8px 0;
        font-size: 19px;
        font-weight: 500;
    }
    .survey-section-5 > .survey-form {
        
        height: 486px;
       
    }
    .survey-section-8 > .survey-form {
        
        height: 318px;
        
    }
    input#Email {
        width: 96%;
        padding: 4px;
        text-align: center;
    }
    .survey-section-9 > .survey-form {
        background: #fff;
        width: 86%;
        height: 380px;
        border-radius: 31px;
        margin: auto;
    }
    .submit-warninText {
        padding: 1px 36px;
        text-align: left;
        font-size: 11px;
        color: rgb(118, 118, 118);
    }
}