
.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 14px;
    height: 27px;
}
#EmailForm button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
   
    
 
    border-radius: 4px;
}
.input-control {
    display: flex;
    flex-direction: column;
}
.input-control-section-2
{
    display: flex;
    flex-direction: column;
}
.input-control-section-2 .zipError {
    color: #ff3860;
    font-size: 14px;
    height: 27px;
}
.cityError {
    color: #ff3860;
    font-size: 14px;
    height: 27px;
}
.stateError
{
    color: #ff3860;
    font-size: 14px;
    height: 27px;
}
.input-control-section-2 .stateError {
    color: #ff3860;
    font-size: 14px;
    height: 27px;
}

.streetAddressErrorMessage
{
    color: #ff3860;
    font-size: 14px;
    height: 27px;
}
.electricityProviderError
{
    color: #ff3860;
    font-size: 14px;
    height: 27px;
}